<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update post</title>
</head>
<body>
    <div class="container">
        {% if messages %}
            {% for msg in messages %}
                <p style="color: green;">{{ msg }}</p>
            {% endfor %}
        {% endif %}
        <form action="/update/{{ post.id }}" method="post">
            {% csrf_token %}
            <input type="text" value="{{ post.title }}" name="title"> <br>
            <textarea name="detail" cols="30" rows="10">{{ post.detail }}</textarea> <br>
            <button type="submit">Add post</button>
        </form>
    </div>
</body>
</html>